<div class="leave-page">

  <div class="top-bar">

    <h1>Quản lý nghỉ phép</h1>

    <button (click)="showForm = true">
      + Tạo đơn nghỉ
    </button>

  </div>

  <!-- FORM -->

  <div
    class="form-box"
    *ngIf="showForm"
  >

    <input
      type="number"
      placeholder="Employee ID"
      [(ngModel)]="newLeave.employeeId"
    >

    <input
      type="date"
      [(ngModel)]="newLeave.startDate"
    >

    <input
      type="date"
      [(ngModel)]="newLeave.endDate"
    >

    <input
      type="text"
      placeholder="Lý do"
      [(ngModel)]="newLeave.reason"
    >

    <button (click)="addLeave()">
      Lưu
    </button>

  </div>

  <!-- TABLE -->

  <table>

    <thead>

      <tr>

        <th>ID</th>

        <th>Nhân viên</th>

        <th>Từ ngày</th>

        <th>Đến ngày</th>

        <th>Lý do</th>

        <th>Trạng thái</th>

        <th>Hành động</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let item of leaveRequests">

        <td>{{ item.id }}</td>

        <td>{{ item.employeeName }}</td>

        <td>
          {{ item.startDate | date:'dd/MM/yyyy' }}
        </td>

        <td>
          {{ item.endDate | date:'dd/MM/yyyy' }}
        </td>

        <td>{{ item.reason }}</td>

        <td>

          <span class="status">

            {{
              item.status === 'Pending'
                ? 'Chờ duyệt'
                : item.status === 'Approved'
                ? 'Đã duyệt'
                : 'Từ chối'
            }}

          </span>

        </td>

        <td class="action-buttons">

          <button
            class="approve-btn"
            (click)="updateStatus(
              item.id,
              'Approved'
            )"
          >
            Duyệt
          </button>

          <button
            class="reject-btn"
            (click)="updateStatus(
              item.id,
              'Rejected'
            )"
          >
            Từ chối
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>