<div class="attendance-page">

  <div class="top-bar">

    <h1>Quản lý chấm công</h1>

  </div>

  <!-- ACTIONS -->

  <div class="form-box">

    <input
      type="number"
      placeholder="Employee ID"
      [(ngModel)]="employeeId"
    >

    <button (click)="loadAttendance()">
      Xem lịch sử
    </button>

    <button
      class="checkin-btn"
      (click)="checkIn()"
    >
      Check In
    </button>

    <button
      class="checkout-btn"
      (click)="checkOut()"
    >
      Check Out
    </button>

  </div>

  <!-- TABLE -->

  <table>

    <thead>

      <tr>

        <th>ID</th>

        <th>Ngày</th>

        <th>Check In</th>

        <th>Check Out</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let item of attendances">

        <td>{{ item.id }}</td>

        <td>
          {{ item.workDate | date:'dd/MM/yyyy' }}
        </td>

        <td>
          {{ item.checkIn }}
        </td>

        <td>
          {{ item.checkOut || '---' }}
        </td>

      </tr>

    </tbody>

  </table>

</div>