<div class="attendance-page">

  <div class="top-bar">

    <h1>Quản lý chấm công</h1>

  </div>

<div class="form-box">
    <h2>Chấm công nhân viên</h2>

    <div class="form-group">
      <label>Mã nhân viên</label>
      <input type="number" placeholder="Nhập Employee ID" [(ngModel)]="employeeId" (ngModelChange)="loadEmployeeInfo()">
    </div>

    <div class="form-group">
      <label>Tên nhân viên</label>
      <input type="text" placeholder="Tên nhân viên" [(ngModel)]="employeeName" readonly>
    </div>

    <div class="check-type">
      <label>
        <input type="radio" name="checkType" [(ngModel)]="checkType" value="CheckIn">
        <span>Check In</span>
      </label>
      <label>
        <input type="radio" name="checkType" [(ngModel)]="checkType" value="CheckOut">
        <span>Check Out</span>
      </label>
    </div>

    <button class="btn-send" (click)="submitAttendance()" [disabled]="!checkType">
      {{ checkType === 'CheckIn' ? 'CHECK IN' : 'CHECK OUT' }}
    </button>
  </div>

  <!-- TABLE LỊCH SỬ -->
  <table>
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Ngày</th>
        <th>Check In</th>
        <th>Check Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of attendances; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.workDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ item.checkIn || '---' }}</td>
        <td>{{ item.checkOut || '---' }}</td>
      </tr>
    </tbody>
  </table>
</div>
