.sidebar{
  width: 240px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 24px;
  position: fixed;
}

.sidebar h2{
  margin-bottom: 40px;
  font-size: 28px;
}

.sidebar a{
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar a:hover{
  background: #1e293b;
  color: white;
}