<div class="sidebar">

  <h2>HRM SYSTEM</h2>

  <a routerLink="/dashboard">
     Dashboard
  </a>

  <a routerLink="/employees">
    Nhân viên
  </a>

  <a routerLink="/departments">
    Phòng ban
  </a>

  <a routerLink="/attendance">
    Chấm công
  </a>

  <a routerLink="/leave-requests">
    Nghỉ phép
  </a>

  <a routerLink="/performance">
    Đánh giá
  </a>

  <a routerLink="/recruitment">
    Tuyển dụng
  </a>

  <a routerLink="/candidates">
    Ứng viên
  </a>

  <button
    class="logout-btn"
    (click)="logout()"
  >
    Logout
  </button>
</div>